@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.App {
  min-height: 100vh;
  background: #48cae4;
  color: #000;
  padding: 2rem;
}

.city {
  font-size: 40px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar form input[type="text"] {
  padding: 0.3rem;
  border: none;
  width: 200px;
}

.search-bar form input[type="text"]:focus {
  outline: none;
  border: none;
}

.search-bar form button[type="submit"] {
  padding: 0.3rem 1.5rem;
  border: none;
  background: #0077b6;
  color: #fff;
}

.search-bar form button[type="submit"]:hover {
  background: #023e8a;
  cursor: pointer;
}

.search-bar form button[type="submit"]:focus {
  outline: none;
  border: none;
}

.today-section {
  margin-top: 1rem;
}

.today-main {
  margin-top: 1rem;
  display: flex;
  background: #90e0ef;
  border-radius: 5px;
}

.today-left,
.today-right {
  flex: 1;
  height: 300px;
}

.today-left {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 1px #333;
}

.image {
  margin-right: 50px;
}

span {
  display: block;
}

.main-temp {
  font-size: 150px;
}

.desc {
  font-size: 30px;
}

.today-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-left: 1px solid #333;
}

.today-right div {
  padding: 10px;
}

.main-info {
  font-weight: bold;
  font-size: 30px;
}

.border {
  width: 100%;
  height: 2px;
  background: #90e0ef;
  margin-top: 2px;
}

.scroll-weather {
  margin-top: 15px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll-weather::-webkit-scrollbar {
  width: 5px;
}

.scroll-weather::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #023e8a;
  border-radius: 5px;
}

.scroll-weather::-webkit-scrollbar-thumb {
  background: #0077b6;
  border-radius: 5px;
}

.scroll-weather::-webkit-scrollbar-thumb:hover {
  background: #00b4d8;
}

.hour {
  margin: 5px 15px 15px 0;
  min-width: 110px;
  padding: 10px;
  height: 160px;
  text-align: center;
  background-color: #90e0ef;
  border-radius: 3px;
}

.hour-temp {
  font-weight: bold;
  font-size: 18px;
}
