@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.App {
  min-height: 100vh;
  background: #48cae4;
  color: #000;
  padding: 2rem;
}

.city {
  font-size: 40px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar form input[type="text"] {
  padding: 0.3rem;
  border: none;
  width: 200px;
}

.alert {
  color: rgb(119, 2, 2);
}

.search-bar form input[type="text"]:focus {
  outline: none;
  border: none;
}

.search-bar form button[type="submit"] {
  padding: 0.3rem 1.5rem;
  border: none;
  background: #0077b6;
  color: #fff;
}

.search-bar form button[type="submit"]:hover {
  background: #023e8a;
  cursor: pointer;
}

.search-bar form button[type="submit"]:focus {
  outline: none;
  border: none;
}

.today-section {
  margin-top: 1rem;
}

.today-main {
  margin-top: 1rem;
  display: flex;
  background: #90e0ef;
  border-radius: 5px;
}

.today-left,
.today-right {
  flex: 1;
  height: 300px;
}

.today-left {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 1px #333;
}

.image {
  margin-right: 50px;
}

span {
  display: block;
}

.main-temp {
  font-size: 150px;
}

.desc {
  font-size: 30px;
}

.today-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-left: 1px solid #333;
}

.today-right div {
  padding: 10px;
}

.main-info {
  font-weight: bold;
  font-size: 30px;
}

.border {
  width: 100%;
  height: 2px;
  background: #90e0ef;
  margin-top: 2px;
}

.scroll-weather {
  margin-top: 15px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll-weather::-webkit-scrollbar {
  width: 5px;
}

.scroll-weather::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #023e8a;
  border-radius: 5px;
}

.scroll-weather::-webkit-scrollbar-thumb {
  background: #0077b6;
  border-radius: 5px;
}

.scroll-weather::-webkit-scrollbar-thumb:hover {
  background: #00b4d8;
}

.hour {
  margin: 5px 15px 15px 0;
  min-width: 110px;
  padding: 10px;
  height: 160px;
  text-align: center;
  background-color: #90e0ef;
  border-radius: 3px;
}

.week-info-main,
.hour-temp {
  font-weight: bold;
  font-size: 18px;
}

.scrool-to-top {
  position: fixed;
  bottom: 12px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #023e8a;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.scrool-to-top:hover {
  cursor: pointer;
  background: #03045e;
}

.scrool-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}

.scroll-to-bottom {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #023e8a;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.scroll-to-bottom:hover {
  cursor: pointer;
  background: #03045e;
}

.scroll-to-bottom .icon {
  margin-top: 10px;
  animation: scrollBottom 0.5s alternate ease infinite;
}

@keyframes scrollBottom {
  from {
    transform: translateY(-1px);
  }
  to {
    transform: translateY(2px);
  }
}

.scroll-container {
  position: absolute;
  top: 12px;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-container h3 {
  margin-bottom: 10px;
}

.week {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ade8f4;
  margin: 0.5rem 0;
  padding: 0 1rem;
  text-align: center;
}

.week-header {
  margin: 27px 0 15px 0;
}

.entry-header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
